@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');

body {
    background-color: lightpink;
    margin: 40px;
}

h1 {
    font-family: "Pacifico", cursive;
    font-weight: lighter;
    text-align: center;
    font-size: 50px;
}

nav {
    background-color: rgb(226, 146, 158);
}

nav, li {
    display: flex;
    font-family: "Norican", cursive;
    font-size: 20px;
    text-align: center;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
}

a {
    color: rgb(65, 12, 20);
    font-size: 20px;
}

a:hover {
    color: rgb(155, 23, 43);
    font-size: 25px;
    transition: ease-out;
    transition-duration: 0.25s;
}

h2 {  
    font-family: "Norican", cursive;
    font-size: xx-large;
}

ul{
    list-style-type: circle;
}

li {
    text-align: left;
    margin: 0px;
    padding: 0px;
    display: normal;
    justify-content: left;
}

.subtotal {
    font-weight: bold;
}

.layout {
    display: flex;
    align-items: center;
    gap: 150px;
}

h4 {
    text-decoration: underline;
}

button {
    background-color: rgb(251, 196, 204);
    padding: 5px;
    margin: 10px;
    margin-top: 20px;
}

button:hover {
    transition: ease-out;
    transition-duration: 0.25s;
    background-color: rgb(255, 156, 171);
    padding: 10px;
}


.invoice {
    text-align: left;
}

.invoice h1 {
    font-size: 30px;
}

.invoice h2 {
    font-size: 20px;
}

.invoice a {
    color: rgb(213, 83, 105);
}

.invoice a:hover {
    color: rgb(170, 52, 72)
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(255, 229, 233);
}

th, 
td {
    padding: 12px;
    border: 1px solid rgb(253, 171, 185);
    vertical-align: top;
}

th {
    background-color: rgb(250, 213, 219);
}

tr:nth-child(even) {
    background-color: rgb(246, 195, 203);
}

.order {
    font-family:'Courier New', Courier, monospace;
    font-size: 15px;
}