<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}Fower Shop{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Online Flower Shop</h1>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('order_history') }}">Order History</a>
            <a href="{{ url_for('invoices') }}">Invoices</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2026 Flower Shop</p>
    </footer>
</body>
</html>